/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// social media colors
$percentage: 5%;
$facebook:#3b5998;
$flickr: #E30663;
$foursquare: #2D5BE3;
$googleplus: #DD4B39;
$instagram: #517fa4;
$linkedin: #0177B5;
$pinterest: #BD081C;
$reddit: #ff5700;
$rss: #FE9900;
$tumblr: #32506d;
$twitter:#2AA9E0;
$vimeo: #1AB7EA;
$vine: #00BF8F;
$wordpress:#464646;
$yelp:#C41200;
$youtube: #E32A29;

//