.primary-secondary-wrap{

  .primary-secondary-header {
   text-transform: uppercase;
 }

 .primary-secondary-info{

  .primary-secondary-content{
    font-size: 1em;
  }

  .primary-secondary-button {
    margin: 1em 0;

    a {
      display: block;
      width: 100%;
    }
  }

  .primary-secondary-link a {
    font-size: 1.2em;
  }

  .primary-secondary-link span {
    margin-right: 0.25em;
  }

}

}